main {
    display: grid;    
    grid-template-columns: repeat(2, 1fr);
    height: 100%;
}

section {
    overflow-y: auto;
}

.resultView {
    border-left: 10px solid gainsboro;
    border-right: 10px solid gainsboro;
    padding: 25px;
    height: 100%;
}


@media all and (max-width: 800px) {
  .resultView {
    border-top: 10px solid gainsboro;
    border-bottom: 10px solid gainsboro;
    border-left: none;
    border-right: none;
    padding: 25px;
    min-height: 100vh;
  }

  main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    height: 100%;
  }

  section {
    overflow-y: auto;
  }
}